extends ../layout/index

block contenido
    div.py-10
        h1.text-4xl.my-4.font-extrabold.text-center Bienes
            span.font-normal Raices
        h2.text-center.font-extrabold= pagina

        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow
                form.space-y-5
                    div
                        label.block.text-sm.uppercase.text-gray-700.mb-2.font-bold(for="email") Email
                        input#email.w-full.px-3.py-2.border.border-gray-400.rounded-md(type="email" name="email")
                    
                    input(class="w-full bg-indigo-500 py-2 rounded text-white cursor-pointer hover:bg-indigo-400" type="submit" value="Enviar")