extends ../layout/index

block contenido
    div.py-3.flex.flex-col.items-center
        h2.text-center.text-xl.font-bold.mt-1.text-black.uppercase Mis Propiedades
        
        a(href="/propiedades/crear" class="font-semibold text-indigo-800 mt-5 text-lg") + Publicar Propiedad