extends ../layout/index

block contenido
    div.py-3.flex.flex-col.items-center
        h2.text-center.text-xl.font-bold.mt-1.text-indigo-900.uppercase Crear Nueva Propiedad
        
        div(class="bg-white shadow p-5 mx-auto my-8 w-9/12 md:p-10 md:w-8/12")
            form.space-y-8
                div.space-y-5
                    h3.text-lg.font-semibold.text-gray-800.underline Información General
                    div
                        label(for="titulo" class="block text-base md:text-lg text-gray-700 mb-2 font-medium") Nombre de la Propiedad
                        input#titulo.w-full.px-3.py-2.border.border-gray-400.rounded-md(type="text" name="titulo")
                    div
                        label(for="descripcion" class="block text-base md:text-lg text-gray-700 mb-2 font-medium") Descripción
                        textarea#descripcion.w-full.px-3.py-2.border.border-gray-400.rounded-md(name="descripcion")
                    div(class="space-y-5 md:flex md:gap-5 md:space-y-0")
                        div(class="md:w-1/2")
                            label(for="categoria" class="block text-base md:text-lg text-gray-700 mb-2 font-medium") Categoría
                            select#categoria.w-full.px-3.py-2.border.border-gray-400.rounded-md(name="categoria")
                                option(value="") Seleccionar categoría
                        div(class="md:w-1/2")
                            label(for="precio" class="block text-base md:text-lg text-gray-700 mb-2 font-medium") Precio
                            select#precio.w-full.px-3.py-2.border.border-gray-400.rounded-md(name="precio")
                                option(value="" ) Seleccionar rango de precios
                    div(class="space-y-5 md:flex md:gap-5 md:space-y-0")
                        div(class="md:w-1/2")
                            label(for="habitaciones" class="block text-base md:text-lg text-gray-700 mb-2 font-medium") Cantidad de Habitaciones
                            select#habitaciones.w-full.px-3.py-2.border.border-gray-400.rounded-md(name="habitaciones")
                                option(value=1) 1
                                option(value=2) 2
                                option(value=3) 3
                                option(value=4) 4
                                option(value=5) 5
                        div(class="md:w-1/2")
                            label(for="banios" class="block text-base md:text-lg text-gray-700 mb-2 font-medium") Cantidad de Baños
                            select#banios.w-full.px-3.py-2.border.border-gray-400.rounded-md(name="banios")
                                option(value=1) 1
                                option(value=2) 2
                                option(value=3) 3
                                option(value=4) 4 