

header(class="bg-indigo-400 h-[50px] md:h-[60px]")
    .container.h-full.flex.items-center.justify-between
        h1.pl-7.font-bold.text-white.text-xl.ml-7 Bienes
            span.font-normal Raices

        nav(class="hidden md:flex md:items-center md:w-[420px] md:justify-around text-white md:mr-7 font-semibold")
            a(href="") Mis Propiedades 
            a(href="") Mi Perfil 
            a(class="bg-indigo-600 py-1.5 px-5 rounded-lg" href="") Cerrar Sesión